footer.footer
    .container
        .footer-contacts
            p Французький Бульвар 66/2, бізнес-центр "Кадорр"
            .footer-contacts__wrap
                a(href="tel:+380 48 794 4036") (+380) 48 794 4036
                a(href="tel:+380 66 642 4036") (+380) 66 642 4036
            a(href="mailto:office.ukraine@solstadfarstad.com") office.ukraine@solstadfarstad.com
        .footer-socials
            a(href="https://www.facebook.com/SolstadFarstad/" target="_blank" title="facebook") https://www.facebook.com/SolstadFarstad/
            a(href="https://www.linkedin.com/company/solstadfarstad/" target="_blank" title="linkedin") https://www.linkedin.com/company/solstadfarstad/
        .footer-copy Copyright 2017 SolstadFarstad ASA All rights reserved

    .footer-copyright
        .footer-copyright__left
            a(href="http://rexit.info" target="_blank" title="rex.it") How to make a Website?
        .footer-copyright__right
            .footer-copyright__info
                span © RexIT, 2018
                a(href="http://rexit.info" target="_blank" title="rex.it") Web Design & Development
            .footer-copyright__logo
                a(href="http://rexit.info" target="_blank" title="rex.it")
                    img(src="./img/general/logo-rexit.png" alt="rex.it")

.download
    a(href="./img/general/logo-rexit.png" download)