header.header
    .header__top
        .container
            .header__top-lang
                a(href="#") Ru
                a(href="#") En
    .header__bottom
        .container
            nav.nav
                ul.nav__list
                    li.nav__item
                        a(href="#ex1" title="О нас").nav__link
                            span О нас
                    li.nav__item
                        a(href="#ex2" title="Преимущества").nav__link
                            span Преимущества
                    li.nav__item
                        a(href="#ex3" title="Обратная связь").nav__link
                            span Обратная связь
            .logo
                img(src="./img/general/logo.png" alt="SolstadFarstad Ukraine")
                span Ukraine