@font-face {
  font-family: "SourceSansProRegular";
  src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot");
  src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"), url("../fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansProLight";
  src: url("../fonts/SourceSansProLight/SourceSansProLight.eot");
  src: url("../fonts/SourceSansProLight/SourceSansProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansProLight/SourceSansProLight.woff") format("woff"), url("../fonts/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansProBold";
  src: url("../fonts/SourceSansProBold/SourceSansProBold.eot");
  src: url("../fonts/SourceSansProBold/SourceSansProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansProBold/SourceSansProBold.woff") format("woff"), url("../fonts/SourceSansProBold/SourceSansProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*Press footer*/
html,
body,
.wrapper {
  height: 100%;
}

.content {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing-box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
}

.footer {
  margin-top: -80px;
}

/*Preloader*/
.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none repeat scroll 0 0 #fff;
}

.loader_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  background-color: #fff;
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*Adjustment*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: none;
}

input,
select,
button {
  outline: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

*::-webkit-input-placeholder {
  opacity: 1;
  color: #666;
}

*:-moz-placeholder {
  opacity: 1;
  color: #666;
}

*::-moz-placeholder {
  opacity: 1;
  color: #666;
}

*:-ms-input-placeholder {
  opacity: 1;
  color: #666;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

/*Adjustment*/
body {
  font-size: 16px;
  line-height: 1;
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-family: "SourceSansProRegular", Arial, Tahoma, sans-serif;
  color: #212121;
}

.container {
  position: relative;
  width: 98%;
  max-width: 1170px;
  margin: 0 auto;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    /*CSS transforms*/
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
