extends ../layout/layout

block title
	| Главная страница

block content
	main
		include ../sections/top_banner

block wowjsinit
	script.
		new WOW().init();
		<!--<img class="wow zoomInUp" data-wow-offset="200" data-wow-delay="0.5s" data-wow-duration="2s" data-wow-iteration src="" alt="">-->