

extends ../layout/layout

block title
	| Главная страница

block content
	main.main-content
		section.section
			.container
				.container-flex
					.flex-item flex-item-1
					.flex-item flex-item-2
					.flex-item flex-item-3
					.flex-item flex-item-4
					.flex-item flex-item-5
					.flex-item flex-item-6
		section.section
			.container

