//pointer-events: none
//user-select: none
@import 'fonts.sass'
@import 'vars.sass'
@import 'libs.sass'
// @import 'pngSprite.sass'
@import 'mixins.sass'

*
  box-sizing: border-box
  background: transparent
  &:before, &:after
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

html
  height: 100%
  font-size: 100%
  // - 16px
  line-height: 1.3

h1, h2, h3, h4, h5, h6
  margin: 0

p
  margin: 0

a
  text-decoration: none
  -webkit-tap-highlight-color: transparent
  color: #000

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align: middle

textarea
  resize: none

select::-ms-expand
  display: none

input,
select,
textarea,
button
  appearance: none
  outline: 0
  border-radius: 0
  background-clip: padding-box
  border: 1px solid #666
  padding: 0

ul, li
  padding: 0
  margin: 0
  list-style: none

::selection
  background: #b3d4fc
  text-shadow: none

body
  height: 100%
  position: relative
  overflow-x: hidden
  min-width: 320px
  text-size-adjust: none
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: $SSPR, $sserif
  font-size: 100% // - 16px
  line-height: 1.5
  color: #000

section
  position: relative

// press footer
body
  display: flex
  flex-direction: column

main
  flex-grow: 1

.container
  position: relative
  width: 98%
  max-width: 1170px
  margin: 0 auto

.hidden
  display: none

// Общие стили
@import 'common.sass'
// Стили шапки
@import 'modules/header.sass'
// Стили секции баннера
@import 'sections/top_banner.sass'
// Стили главной страницы
@import 'pages/index.sass'
// Стили футера
@import 'modules/footer.sass'
// Стили медиазапросов
@import 'media.sass'
