@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-display: swap;
    font-weight: $weight;
    font-family: quote($font-name);
    font-style: $style;
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
  }
}
@include font-face("Open Sans", "../fonts/opensans/opensans/opensans", 400, normal);
@include font-face("Open Sans Light", "../fonts/opensans/opensanslight/opensanslight", 300, normal);
@include font-face("Open Sans Semi Bold", "../fonts/opensans/opensanssemibold/opensanssemibold", 600, normal);
