@charset "UTF-8";
@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/Raleway/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway/Raleway-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: optional;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../../img/slick/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/slick/slick.eot");
  src: url("../../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../../fonts/slick/slick.woff") format("woff"), url("../../fonts/slick/slick.ttf") format("truetype"), url("../../fonts/slick/slick.svg#slick") format("svg");
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slick-arrow {
  width: 12px;
  height: 24px;
  background: transparent url(./../img/general/slider-arrow.png) center center no-repeat;
  background-size: auto;
  z-index: 20;
}

.slick-arrow:before {
  content: none;
}

.slick-arrow:focus, .slick-arrow:hover {
  opacity: .7;
  background: transparent url(./../img/general/slider-arrow.png) center center no-repeat;
}

.slick-prev {
  -webkit-transform: translate(0, -50%) scale(-1, -1);
      -ms-transform: translate(0, -50%) scale(-1, -1);
          transform: translate(0, -50%) scale(-1, -1);
  left: 10px;
}

.slick-next {
  right: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #b6b6b6;
  opacity: 1;
  font: 400 14px/36px "RalewayRegular", Arial, Tahoma, sans-serif;
}

*:-moz-placeholder {
  color: #b6b6b6;
  opacity: 1;
  font: 400 14px/36px "RalewayRegular", Arial, Tahoma, sans-serif;
}

*::-moz-placeholder {
  color: #b6b6b6;
  opacity: 1;
  font: 400 14px/36px "RalewayRegular", Arial, Tahoma, sans-serif;
}

*:-ms-input-placeholder {
  color: #b6b6b6;
  font: 400 14px/36px "RalewayRegular", Arial, Tahoma, sans-serif;
  opacity: 1;
}

html {
  height: 100%;
  font-size: 100%;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #000;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: none;
}

select::-ms-expand {
  display: none;
}

label,
button,
input,
select {
  cursor: pointer;
}

input,
select,
textarea,
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border-radius: 0;
  background-clip: padding-box;
  border: 1px solid #666;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
  color: #000;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
  color: #000;
}

body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "RalewayRegular", Arial, Tahoma, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #000;
}

section {
  position: relative;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: -webkit-radial-gradient(at center center, #fefefe 0%, #f5f5f5 48%, #e2e2e2 67%, #cecece 88%, #bebebe 100%);
  background: -o-radial-gradient(at center center, #fefefe 0%, #f5f5f5 48%, #e2e2e2 67%, #cecece 88%, #bebebe 100%);
  background: radial-gradient(at center center, #fefefe 0%, #f5f5f5 48%, #e2e2e2 67%, #cecece 88%, #bebebe 100%);
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.header__top {
  background-color: #2a2363;
}

.header__top-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.header__top-lang a {
  position: relative;
  display: block;
  color: #cfcfcf;
  font: 400 14px/14px "RalewayRegular", Arial, Tahoma, sans-serif;
  text-transform: uppercase;
  margin-right: 12px;
}

.header__top-lang a:hover {
  opacity: .7;
}

.header__top-lang a:hover:before {
  width: 100%;
}

.header__top-lang a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #cfcfcf;
  -webkit-transition: width .3s linear;
  -o-transition: width .3s linear;
  transition: width .3s linear;
}

.header__top-lang a:first-of-type:after {
  content: '';
  position: absolute;
  top: 0;
  right: -7px;
  background-color: #cfcfcf;
  width: 1px;
  height: 14px;
}

.header__top-lang a:last-of-type {
  margin-right: 0;
}

.header__bottom {
  background-color: #ebebeb;
}

.header__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  padding-left: 50px;
}

.nav__item {
  margin-right: 1px;
}

.nav__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: skew(-45deg);
      -ms-transform: skew(-45deg);
          transform: skew(-45deg);
  max-width: 100%;
  width: 206px;
  min-height: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#dcdddf), to(#eaeaea));
  background: -webkit-linear-gradient(left, #dcdddf, #eaeaea);
  background: -o-linear-gradient(left, #dcdddf, #eaeaea);
  background: linear-gradient(to right, #dcdddf, #eaeaea);
  border-bottom: 5px solid #282969;
  color: #2a2363;
  font: 400 14px/36px "RalewayRegular", Arial, Tahoma, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}

.nav__link:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(40, 41, 105, 0.2)), to(#eaeaea));
  background: -webkit-linear-gradient(left, rgba(40, 41, 105, 0.2), #eaeaea);
  background: -o-linear-gradient(left, rgba(40, 41, 105, 0.2), #eaeaea);
  background: linear-gradient(to right, rgba(40, 41, 105, 0.2), #eaeaea);
  opacity: 0;
}

.nav__link:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #db0000;
  z-index: 2;
  -webkit-transition: width .3s linear;
  -o-transition: width .3s linear;
  transition: width .3s linear;
}

.nav__link:hover:before {
  width: 100%;
}

.nav__link:hover:after {
  opacity: 1;
}

.nav__link span {
  display: block;
  -webkit-transform: skew(45deg);
      -ms-transform: skew(45deg);
          transform: skew(45deg);
  z-index: 2;
}

.logo {
  margin-top: auto;
  max-width: 148px;
  text-align: center;
}

.logo img {
  display: block;
  width: 100%;
}

.logo span {
  color: #2a2363;
  font: 700 10px/24px "RalewayRegular", Arial, Tahoma, sans-serif;
}

.top-banner__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: transparent url(./../img/general/slider-item.jpg) center center no-repeat;
  background-size: cover;
}

.top-banner__slider-item:after {
  content: "";
  display: block;
  padding-top: 33.34%;
}

.top-banner__slider-item img {
  display: block;
  width: 100%;
}

.about {
  padding-top: 40px;
}

.about__wrap {
  padding-bottom: 40px;
  border-bottom: 1px solid #d2d2d2;
}

.about__title {
  position: relative;
  margin-bottom: 80px;
}

.about__title:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -53px;
  height: 25px;
  width: 100%;
  background: transparent url(./../img/general/title-decor.png) no-repeat;
  pointer-events: none;
}

.about__title h2 {
  color: #444;
  font: 400 45px/36px "RalewayRegular", Arial, Tahoma, sans-serif;
  text-transform: uppercase;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__left {
  max-width: 400px;
  margin-right: 10px;
}

.about__left p {
  color: #444;
  font: 300 16px/24px "RalewayRegular", Arial, Tahoma, sans-serif;
  text-align: justify;
}

.about__right {
  max-width: 480px;
}

.about__img {
  max-width: 480px;
  width: 100%;
}

.about__img img {
  display: block;
  width: 100%;
}

.advantages {
  padding-top: 40px;
}

.advantages__wrap {
  padding-bottom: 40px;
  border-bottom: 1px solid #d2d2d2;
}

.advantages__title {
  position: relative;
  margin-bottom: 80px;
}

.advantages__title:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  height: 1px;
  background-color: #d2d2d2;
  width: 100%;
  pointer-events: none;
}

.advantages__title h2 {
  color: #444;
  font: 400 45px/36px "RalewayRegular", Arial, Tahoma, sans-serif;
  text-transform: uppercase;
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 120px;
  color: #444;
  font: 500 16px/20px "RalewayRegular", Arial, Tahoma, sans-serif;
}

.advantages__item:after {
  content: '';
  position: absolute;
  left: 24px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 34px;
  height: 30px;
  background: transparent url(./../img/general/advantages-decor.png) center center no-repeat;
  background-size: auto;
}

.feedback {
  padding-top: 40px;
}

.feedback__title {
  position: relative;
  margin-bottom: 74px;
}

.feedback__title:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -34px;
  height: 1px;
  background-color: #d2d2d2;
  width: 100%;
  pointer-events: none;
}

.feedback__title h2 {
  color: #444;
  font: 400 45px/36px "RalewayRegular", Arial, Tahoma, sans-serif;
  text-transform: uppercase;
}

.feedback__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 34px;
  margin-bottom: 34px;
  border-bottom: 1px solid #d2d2d2;
}

.feedback__contacts-left {
  width: 100%;
  max-width: 390px;
}

.feedback__contacts-left p,
.feedback__contacts-left a {
  display: block;
  color: #444;
  font: 400 16px/36px "RalewayRegular", Arial, Tahoma, sans-serif;
}

.feedback__contacts-left a:hover {
  text-decoration: underline;
}

.feedback__contacts-right {
  width: 100%;
  max-width: 480px;
}

.feedback__contacts-map {
  max-width: 480px;
  height: 236px;
}

.feedback__decor img {
  display: block;
  width: 100%;
}

.feedback__form {
  padding: 0 10px;
}

.feedback__form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__form .input-wrap {
  display: inline-block;
  margin-bottom: 26px;
}

.feedback__form .input-wrap:nth-child(2) {
  text-align: right;
}

.feedback__form .input-wrap:last-of-type {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.feedback__form input {
  max-width: 100%;
  width: 460px;
  height: 60px;
}

.feedback__form textarea {
  max-width: 100%;
  width: 940px;
  height: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.feedback__form input,
.feedback__form textarea {
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 10px;
  background-color: #e8e8ec;
  border: 1px solid transparent;
  font: 400 14px/20px "RalewayRegular", Arial, Tahoma, sans-serif;
  color: #2a2363;
  cursor: text;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

.feedback__form input:focus,
.feedback__form textarea:focus {
  -webkit-box-shadow: 0px 0px 6px 0px #555787;
          box-shadow: 0px 0px 6px 0px #555787;
}

.feedback__form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 140px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #555787;
  color: #b6b6b6;
  font: 400 14px/36px "RalewayRegular", Arial, Tahoma, sans-serif;
  border: 2px solid transparent;
  -webkit-transition: border-color .3s linear, background-color .3s linear, color .3s linear;
  -o-transition: border-color .3s linear, background-color .3s linear, color .3s linear;
  transition: border-color .3s linear, background-color .3s linear, color .3s linear;
}

.feedback__form button:hover {
  border: 2px solid #555787;
  background-color: rgba(85, 87, 135, 0.7);
  color: #fff;
}

.feedback__upload {
  position: absolute;
  right: 10px;
  bottom: 15px;
}

.feedback__upload input {
  display: none;
}

.feedback__upload label {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #2a2363 url(./../img/general/icon-upload.png) center center no-repeat;
  background-size: auto;
}

.feedback__upload label:hover {
  opacity: .8;
}

.download {
  position: fixed;
  top: 500px;
  right: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 130px;
  border: 2px solid #2a2363;
  border-radius: 50%;
  cursor: pointer;
}

.download:hover {
  opacity: .8;
}

.download a {
  display: block;
  border-radius: 50%;
  width: 114px;
  height: 114px;
  background: #555787 url(./../img/general/icon-download.png) center center no-repeat;
  background-size: auto;
}

.footer {
  background-color: #4f5052;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 80px;
  max-width: 960px;
}

.footer-contacts p,
.footer-contacts a, .footer-socials p,
.footer-socials a {
  position: relative;
  display: block;
  padding-left: 90px;
  margin-bottom: 30px;
  color: #d2d2d2;
  font: 400 16px/1 "RalewayRegular", Arial, Tahoma, sans-serif;
}

.footer-contacts a, .footer-socials a {
  text-decoration: underline;
}

.footer-contacts a:after, .footer-socials a:after {
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  -o-transition: transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.footer-contacts a:hover, .footer-socials a:hover {
  text-decoration: none;
}

.footer-contacts a:hover:after, .footer-socials a:hover:after {
  -webkit-transform: translate(0, -50%) rotate(35deg);
      -ms-transform: translate(0, -50%) rotate(35deg);
          transform: translate(0, -50%) rotate(35deg);
}

.footer-socials a:after {
  content: '';
  position: absolute;
  left: 28px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.footer-socials a:nth-child(1):after {
  background-image: url(../img/general/icon-fb.png);
}

.footer-socials a:nth-child(2):after {
  background-image: url(../img/general/icon-inst.png);
}

.footer-contacts__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.footer-contacts__wrap a {
  margin-bottom: 0;
}

.footer-contacts__wrap:after {
  background-image: url(../img/general/icon-phone.png);
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  -o-transition: transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.footer-contacts__wrap:hover {
  text-decoration: none;
}

.footer-contacts__wrap:hover:after {
  -webkit-transform: translate(0, -50%) rotate(35deg);
      -ms-transform: translate(0, -50%) rotate(35deg);
          transform: translate(0, -50%) rotate(35deg);
}

.footer-contacts p:after,
.footer-contacts a:after, .footer-contacts__wrap:after {
  content: '';
  position: absolute;
  left: 28px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.footer-contacts p a:nth-child(2),
.footer-contacts a a:nth-child(2), .footer-contacts__wrap a:nth-child(2) {
  padding-left: 40px;
}

.footer-contacts p:after {
  background-image: url(../img/general/icon-address.png);
}

.footer-contacts > a {
  margin-bottom: 30px;
}

.footer-contacts > a:after {
  background-image: url(../img/general/icon-mail.png);
}

.footer-copy {
  width: 100%;
  margin-top: 10px;
  padding: 30px 10px 0;
  color: #e0e0e0;
  border-top: 1px solid #444444;
  font: 400 12px/1 "RalewayRegular", Arial, Tahoma, sans-serif;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 46px;
  background-color: #5b5c5e;
}

.footer-copyright a {
  -webkit-transition: color .3s linear;
  -o-transition: color .3s linear;
  transition: color .3s linear;
}

.footer-copyright a:hover {
  color: #e2e2e2;
  text-decoration: none;
}

.footer-copyright__left a {
  color: #000;
  font: 400 16px/1 "RalewayRegular", Arial, Tahoma, sans-serif;
  text-decoration: underline;
}

.footer-copyright__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}

.footer-copyright__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
  text-align: right;
}

.footer-copyright__info span,
.footer-copyright__info a {
  color: #000;
  font: 400 12px/1 "RalewayRegular", Arial, Tahoma, sans-serif;
}

.footer-copyright__info a {
  text-decoration: underline;
}

.footer-copyright__logo {
  max-width: 107px;
  width: 100%;
}

.footer-copyright__logo a {
  display: block;
}

.footer-copyright__logo img {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .download {
    top: 450px;
    right: 16px;
    width: 90px;
    height: 90px;
  }
  .download a {
    width: 80px;
    height: 80px;
    background-size: 60%;
  }
  .nav__link {
    min-height: 80px;
    width: 184px;
  }
  .nav__list {
    padding-left: 40px;
  }
  .about .container,
  .advantages .container,
  .feedback .container,
  .header__top .container {
    padding: 0 10px;
  }
  .feedback__form-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column;
  }
  .feedback__form input,
  .feedback__form textarea {
    width: 100%;
  }
  .feedback__form .input-wrap {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 930px) {
  .about,
  .advantages,
  .feedback {
    padding-top: 16px;
  }
  .about__title,
  .advantages__title,
  .feedback__title {
    margin-bottom: 30px;
  }
  .about h2,
  .advantages h2,
  .feedback h2 {
    font-size: 32px;
    line-height: 30px;
  }
  .about {
    padding-top: 22px;
  }
  .about__title:after {
    bottom: -38px;
  }
  .about__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column;
  }
  .about__left {
    margin: 0 0 10px;
  }
  .about__left p {
    font-size: 15px;
    line-height: 22px;
  }
  .about__left, .about__right {
    width: 100%;
    max-width: 100%;
  }
  .about__img {
    margin: 0 auto;
  }
  .advantages__wrap {
    padding-bottom: 0;
  }
  .advantages__title:after {
    bottom: -14px;
  }
  .advantages__item {
    padding-left: 90px;
    font-size: 15px;
  }
  .feedback__title:after {
    bottom: -14px;
  }
  .feedback__contacts-left {
    max-width: 100%;
  }
  .feedback__contacts-right {
    max-width: 100%;
  }
  .feedback__contacts-map {
    max-width: 100%;
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .download {
    top: 450px;
    right: 16px;
    width: 60px;
    height: 60px;
  }
  .download a {
    width: 50px;
    height: 50px;
  }
  .about h2,
  .advantages h2,
  .feedback h2 {
    line-height: 20px;
    font-size: 21px;
  }
  .about__wrap {
    padding-bottom: 20px;
  }
  .feedback__form input {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .feedback__form textarea {
    height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
  }
  .feedback__form .input-wrap {
    margin-bottom: 10px;
  }
  .feedback__form .input-wrap:last-of-type {
    margin-bottom: 10px;
  }
  .advantages__item {
    padding-left: 34px;
    font-size: 14px;
    margin-bottom: 13px;
  }
  .advantages__item:after {
    left: -4px;
    background-size: 74%;
  }
  .feedback__title {
    margin-bottom: 25px;
  }
  .feedback__contacts {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .feedback__contacts-left p,
  .feedback__contacts-left a {
    font-size: 15px;
    line-height: 30px;
  }
  .logo {
    padding-top: 6px;
    padding-right: 6px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap row;
            flex-flow: nowrap row;
  }
  .nav__list {
    height: 100%;
    padding: 0;
  }
  .nav__link {
    width: 184px;
    max-width: 100%;
    min-height: 100%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .nav__link span {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .footer .container {
    padding: 36px 10px 30px;
  }
  .footer-copy {
    text-align: center;
    margin-top: 0;
  }
  .footer .footer-contacts p,
  .footer .footer-contacts a,
  .footer .footer-socials p,
  .footer .footer-socials a {
    padding-left: 40px;
    font-size: 14px;
    line-height: 1.4;
    word-break: break-word;
  }
  .footer .footer-contacts p:after,
  .footer .footer-contacts a:after,
  .footer .footer-socials p:after,
  .footer .footer-socials a:after {
    left: -6px;
  }
  .footer .footer-contacts__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
  }
  .footer .footer-contacts__wrap:after {
    left: -6px;
  }
  .footer-copyright {
    padding: 16px 10px;
  }
  .footer-copyright__left a {
    font-size: 15px;
  }
  .footer-copyright__left, .footer-copyright__right {
    width: 100%;
    text-align: center;
  }
  .footer-copyright__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-copyright__info {
    margin: 10px 0 10px;
  }
  .footer-copyright__info span {
    margin-bottom: 10px;
  }
  .footer-copyright__info, .footer-copyright__logo {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  .nav {
    width: 100%;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap row;
            flex-flow: nowrap row;
    width: 100%;
    margin: 0 auto;
  }
  .nav__item {
    width: 33.19%;
  }
  .nav__link {
    width: 100%;
    max-width: 100%;
  }
  .logo {
    padding-right: 0px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 460px) {
  .nav__link {
    font-size: 11.5px;
    letter-spacing: -.5px;
  }
}

/*# sourceMappingURL=main.css.map */
