// Подключаем переменные
@import 'vars.sass'
// Подключаем шрифты
@import 'fonts.sass'
// Подключаем спрайты (просто раскоментируем импорт при появлении PNG спрайтов)
// @import 'sprite.sass'
// Подключаем миксины
@import 'mixins.sass'
// Свои стили для тегов, прижатие футера, прелоадер
@import 'adjustment.sass'

body
  font-size: 16px
  line-height: 1
  position: relative
  overflow-x: hidden
  min-width: 320px
  text-size-adjust: none
  -webkit-font-smoothing: antialiased
  font-family: $mainFont, $font-family
  color: $mainColor

section
  position relative
  padding: 100px 0

.container
  position: relative
  width: 98%
  max-width: 1170px
  margin: 0 auto

// Общие стили
@import 'common.sass'
// Стили шапки
@import 'modules/header.sass'
// Стили секции главный баннер
@import 'sections/top_banner.sass'
// Стили главной страницы
@import 'pages/index.sass'
// Стили футера
@import 'modules/footer.sass'
// Стили медиазапросов
@import 'media.sass'
