// COLORS
$mainColor: #212121

// TEXT COLORS
$footerTextColor: #999

// FONTS
$familyFont: Arial, Tahoma, sans-serif
$mainFont: "SourceSansProRegular"
$boldFont: "SourceSansProBold"
$lightFont: "SourceSansProLight"