// vars
// background-color: darken(red, 40%);
// background-color: lighten(red, 40%);

$font-family: Arial, Tahoma, sans-serif
$white: #f6f6f6
$blue: #33c1e3

// [class*=col-] {
//   border: 1px solid #000;
// }