.top-banner
	.container
		.top-banner__slider
			.top-banner__slider-item
			.top-banner__slider-item
			.top-banner__slider-item
			.top-banner__slider-item

.about(id="ex1")
	.container
		.about__wrap
			.about__title
				h2 О нас
			.about__info
				.about__left
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.about__right
					.about__img
						img(src="./img/general/about-img.jpg")

.advantages(id="ex2")
	.container
		.advantages__wrap
			.advantages__title
				h2 Несколько преимуществ
			ul.advantages__list
				li.advantages__item Усу ех еирмод интеллегам аццоммодаре. Ессе перфецто еум те, нострум сплендиде ассентиор еос ид.
				li.advantages__item Цум ех партем яуидам иуварет, натум дицам елеифенд но меа.
				li.advantages__item Сингулис цотидиеяуе пер еа, иллуд нострум ест ут.
				li.advantages__item Лорем ипсум долор сит амет, еум тале чоро те, но тале еффициенди дуо. Поссе децоре сед не.
				li.advantages__item Яуо ут глориатур волуптариа ратионибус, ад нам симилияуе цонституам.

.feedback(id="ex3")
	.container
		.feedback__title
			h2 Обратная связь
		.feedback__contacts
			.feedback__contacts-left
				p Французький Бульвар 66/2, бізнес-центр "Кадорр" 65009 Одеса, Україна
				a(href="tel:+380 48 794 4036") Тел: (+380) 48 794 4036
				a(href="tel:+380 66 642 4036") Моб: (+380) 66 642 4036
				a(href="mailto:office.ukraine@solstadfarstad.com") Пошта: office.ukraine@solstadfarstad.com
			.feedback__contacts-right
				.feedback__contacts-map
		.feedback__form
			form(action="send.php" method="POST")
				.feedback__form-top
					.input-wrap
						input(type="text" placeholder="Ваше имя" required)
					.input-wrap
						input(type="email" placeholder="E-mail" required)
				.input-wrap
					textarea(placeholder="Текст сообщения")
					.feedback__upload
						label(for="feedback__upload")
						input(type="file" name="feedback__upload" id="feedback__upload")
				button Отправить
		.feedback__decor
			img(src="./img/general/footer-decor.png")
